BandD.Serwis.Model/Service References/DictionariesService/BandD.Serwis.Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BandD.Serwis.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BandD.Serwis.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseClass">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="BaseClass">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseClass" nillable="true" type="tns:BaseClass" />
  <xs:complexType name="ArrayOfSlOrderStat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SlOrderStat" nillable="true" type="tns:SlOrderStat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSlOrderStat" nillable="true" type="tns:ArrayOfSlOrderStat" />
  <xs:complexType name="SlOrderStat">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStatusId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SlOrderStat" nillable="true" type="tns:SlOrderStat" />
</xs:schema>