BandD.Serwis.Model/Service References/DictionariesService/BandD.Serwis.Domain.Dictionaries.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BandD.Serwis.Domain.Dictionaries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BandD.Serwis.Domain.Dictionaries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BandD.Serwis.Domain" />
  <xs:complexType name="SlRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BandD.Serwis.Domain" minOccurs="0" name="Users" nillable="true" type="q1:ArrayOfUser" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="SlRole" nillable="true" type="tns:SlRole" />
  <xs:complexType name="ArrayOfSlCarrierStat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SlCarrierStat" nillable="true" type="tns:SlCarrierStat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSlCarrierStat" nillable="true" type="tns:ArrayOfSlCarrierStat" />
  <xs:complexType name="SlCarrierStat">
    <xs:sequence>
      <xs:element name="_x003C_CarrierLink_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CarrierName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CarrierStatusId_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_CarrierStatus_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SlCarrierStat" nillable="true" type="tns:SlCarrierStat" />
</xs:schema>