BandD.Serwis.Model/Service References/DictionariesService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DictionariesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BandD.Serwis.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDictionariesService_Autorauthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:Autorauthorization" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_Autorauthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutorauthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_getDataFromUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getDataFromUser" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_getDataFromUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataFromUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_removeElementFromUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:removeElementFromUsers" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_removeElementFromUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeElementFromUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_addElementToUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:addElementToUsers" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_addElementToUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:addElementToUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_updateElementUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:updateElementUsers" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_updateElementUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateElementUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_getDataFromSlOrderStat_InputMessage">
    <wsdl:part name="parameters" element="tns:getDataFromSlOrderStat" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_getDataFromSlOrderStat_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataFromSlOrderStatResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_removeElementFromSlOrderStat_InputMessage">
    <wsdl:part name="parameters" element="tns:removeElementFromSlOrderStat" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_removeElementFromSlOrderStat_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeElementFromSlOrderStatResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_addElementToSlOrderStat_InputMessage">
    <wsdl:part name="parameters" element="tns:addElementToSlOrderStat" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_addElementToSlOrderStat_OutputMessage">
    <wsdl:part name="parameters" element="tns:addElementToSlOrderStatResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_updateElementSlOrderStat_InputMessage">
    <wsdl:part name="parameters" element="tns:updateElementSlOrderStat" />
  </wsdl:message>
  <wsdl:message name="IDictionariesService_updateElementSlOrderStat_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateElementSlOrderStatResponse" />
  </wsdl:message>
  <wsdl:portType name="IDictionariesService">
    <wsdl:operation name="Autorauthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionariesService/Autorauthorization" message="tns:IDictionariesService_Autorauthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionariesService/AutorauthorizationResponse" message="tns:IDictionariesService_Autorauthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDataFromUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionariesService/getDataFromUser" message="tns:IDictionariesService_getDataFromUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionariesService/getDataFromUserResponse" message="tns:IDictionariesService_getDataFromUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeElementFromUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionariesService/removeElementFromUsers" message="tns:IDictionariesService_removeElementFromUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionariesService/removeElementFromUsersResponse" message="tns:IDictionariesService_removeElementFromUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addElementToUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionariesService/addElementToUsers" message="tns:IDictionariesService_addElementToUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionariesService/addElementToUsersResponse" message="tns:IDictionariesService_addElementToUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateElementUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionariesService/updateElementUsers" message="tns:IDictionariesService_updateElementUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionariesService/updateElementUsersResponse" message="tns:IDictionariesService_updateElementUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDataFromSlOrderStat">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionariesService/getDataFromSlOrderStat" message="tns:IDictionariesService_getDataFromSlOrderStat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionariesService/getDataFromSlOrderStatResponse" message="tns:IDictionariesService_getDataFromSlOrderStat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeElementFromSlOrderStat">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionariesService/removeElementFromSlOrderStat" message="tns:IDictionariesService_removeElementFromSlOrderStat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionariesService/removeElementFromSlOrderStatResponse" message="tns:IDictionariesService_removeElementFromSlOrderStat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addElementToSlOrderStat">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionariesService/addElementToSlOrderStat" message="tns:IDictionariesService_addElementToSlOrderStat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionariesService/addElementToSlOrderStatResponse" message="tns:IDictionariesService_addElementToSlOrderStat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateElementSlOrderStat">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionariesService/updateElementSlOrderStat" message="tns:IDictionariesService_updateElementSlOrderStat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionariesService/updateElementSlOrderStatResponse" message="tns:IDictionariesService_updateElementSlOrderStat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DictionariesServiceEndpoint" type="tns:IDictionariesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autorauthorization">
      <soap:operation soapAction="http://tempuri.org/IDictionariesService/Autorauthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataFromUser">
      <soap:operation soapAction="http://tempuri.org/IDictionariesService/getDataFromUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeElementFromUsers">
      <soap:operation soapAction="http://tempuri.org/IDictionariesService/removeElementFromUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addElementToUsers">
      <soap:operation soapAction="http://tempuri.org/IDictionariesService/addElementToUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateElementUsers">
      <soap:operation soapAction="http://tempuri.org/IDictionariesService/updateElementUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataFromSlOrderStat">
      <soap:operation soapAction="http://tempuri.org/IDictionariesService/getDataFromSlOrderStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeElementFromSlOrderStat">
      <soap:operation soapAction="http://tempuri.org/IDictionariesService/removeElementFromSlOrderStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addElementToSlOrderStat">
      <soap:operation soapAction="http://tempuri.org/IDictionariesService/addElementToSlOrderStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateElementSlOrderStat">
      <soap:operation soapAction="http://tempuri.org/IDictionariesService/updateElementSlOrderStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DictionariesService">
    <wsdl:port name="DictionariesServiceEndpoint" binding="tns:DictionariesServiceEndpoint">
      <soap:address location="http://localhost:9999/DictionariesService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>